<a href="https://colab.research.google.com/github/ayanand/CapstoneML/blob/main/polynomial_kernel_SVM_analysiscap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/ayanand/CapstoneML/blob/main/polynomial_kernel_SVM_analysiscap3.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
</table>

In [1]:
import pandas as pd
!pip install fsspec
!pip install gcsfs

Requirement already satisfied: fsspec in /usr/local/lib/python3.6/dist-packages (0.8.4)
Requirement already satisfied: gcsfs in /usr/local/lib/python3.6/dist-packages (0.7.1)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (1.17.2)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.4.2)
Requirement already satisfied: fsspec>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.8.4)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.6/dist-packages (from gcsfs) (3.7.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (4.1.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (50.3.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (3.0.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (5.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (20.2.0)
Requirement already satisfied: idna-ssl>=1.0; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (1.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (1.6.3)
Requirement already satisfied: chardet<4.0,>=2.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (3.0.4)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (3.7.4.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.0)

In [2]:
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.metrics import confusion_matrix
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier

In [3]:
df = pd.read_csv('gs://capstoragebucket2020/All_joined_v4.csv')
df=df.sort_values(by=['year', 'quarter','latitude','longitude'])
df.tail()

       latitude  longitude  ...  workers  caserne_count
11709     45.67     -73.50  ...      100              0
11738     45.68     -73.50  ...      335              0
11760     45.69     -73.50  ...      580              0
11784     45.69     -73.49  ...      195              0
11819     45.70     -73.49  ...      170              1

[5 rows x 28 columns]

In [4]:
print(df['incendie_count'].value_counts())

#Define three classes of fire risk by the summed number of fire incidence from 2015-2020
#low risk < 5, moderate risk 5-15, high risk > 15
df['fire'] = df['incendie_count']
df['fire'][df['incendie_count']==0] = 0
df['fire'][(df['incendie_count']>=1) & (df['incendie_count']<4)] = 1
df['fire'][df['incendie_count']>=4] = 2


df_new = df
df_new['year'] =2021- df_new['year']

0     7633
1     2644
2      961
3      362
4      151
5       55
6       19
7        9
9        4
8        4
10       1
Name: incendie_count, dtype: int64

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
import geopy.distance

def dist(x,y):
  coords_1 = (45.504654, -73.56546)
  coords_2 = (x, y)
  return geopy.distance.vincenty(coords_1, coords_2).km

df_new['distance']=0
for x in range(0,len(df_new)-1):
  df_new['distance'][x]=dist(df_new['latitude'][x], df_new['longitude'][x])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [6]:
df_new.tail(10)

       latitude  longitude  quarter  ...  caserne_count  fire  distance
11545     45.66     -73.51        4  ...              0     0        17
11569     45.66     -73.50        4  ...              0     0        18
11593     45.66     -73.49        4  ...              0     0        18
11617     45.67     -73.55        4  ...              0     0        18
11685     45.67     -73.51        4  ...              1     0        18
11709     45.67     -73.50        4  ...              0     0        19
11738     45.68     -73.50        4  ...              0     0        20
11760     45.69     -73.50        4  ...              0     0        21
11784     45.69     -73.49        4  ...              0     0        21
11819     45.70     -73.49        4  ...              1     0        22

[10 rows x 30 columns]

In [7]:
df_new = df_new.drop("incendie_count", axis=1)
#df_new = df_new.drop("last_date", axis=1)
dv_savepoint = df_new

In [8]:
df_new = df_new.drop("latitude", axis=1)
df_new = df_new.drop("longitude", axis=1)

df_new = df_new.drop("min_annee_construction", axis=1)
df_new = df_new.drop("max_annee_construction", axis=1)

#df_new = df_new.drop("incendie_count_last_300", axis=1)
#df_new = df_new.drop("incendie_count_last_100", axis=1)
#df_new = df_new.drop("alarm_incendie_count_last_100", axis=1)

In [9]:
y= df_new["fire"].copy()
X=df_new.drop("fire", axis=1)

In [10]:
len(X),len(y)

(11843, 11843)

In [11]:
corr_matrix = df_new.corr()
corr_matrix["fire"].sort_values(ascending=False)

fire                            1.000000
sum_nombre_logement             0.479032
total_crimes                    0.429216
sum_etage_hors_sol              0.420503
alarmes_incendies_count         0.410367
mefait_count                    0.399054
introduction_count              0.395315
vols_count                      0.312964
vol_moteur_count                0.309208
vol_de_vehicule_count           0.209143
caserne_count                   0.158662
sum_superficie_terrain          0.084048
dwellings                       0.061831
infractions_entrainant_count    0.052661
households                      0.036779
year                            0.014774
quarter                        -0.031297
averageage                     -0.038386
population                     -0.051500
averagesizeofcensusfamilies    -0.071044
workers                        -0.083336
averagehouseholdsize           -0.167736
area                           -0.202429
avg_annee_construction         -0.207849
distance                       -0.337583
Name: fire, dtype: float64

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

scaler = StandardScaler()
scaler.fit(X)
X=scaler.transform(X)

In [13]:
X=pd.DataFrame(X)
X

             0         1         2   ...        21        22        23
0     -1.337680  1.455784 -0.731833  ... -1.199589 -0.381403  2.714514
1     -1.337680  1.455784 -0.615674  ...  1.221259 -0.381403  2.714514
2     -1.337680  1.455784 -0.731833  ... -0.204720 -0.381403  2.571448
3     -1.337680  1.455784 -0.731833  ... -0.370531 -0.381403  2.428383
4     -1.337680  1.455784 -0.615674  ... -0.204720 -0.381403  2.571448
...         ...       ...       ...  ...       ...       ...       ...
11838  1.359927 -1.491975 -0.731833  ... -0.536343 -0.381403  0.997727
11839  1.359927 -1.491975 -0.731833  ...  1.022285 -0.381403  1.140792
11840  1.359927 -1.491975 -0.731833  ...  2.647238 -0.381403  1.283858
11841  1.359927 -1.491975 -0.731833  ...  0.093741 -0.381403  1.283858
11842  1.359927 -1.491975 -0.731833  ... -0.072071  2.621895  1.426923

[11843 rows x 24 columns]

In [14]:
# manually prepare test and train data 

X_train=X[df_new['year'] > 2] # choose 2019 data as train
y_train = y[df_new['year'] > 2]

X_test = X[df_new['year']*df_new['quarter'] == 2]
y_test = y[df_new['year']*df_new['quarter'] == 2]

len(X_train),len(X_test),len(y_train),len(y_test)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

(7999, 985, 7999, 985)

In [15]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

#X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.1,random_state=4)

len(X_train),len(X_test),len(y_train),len(y_test)

(7999, 985, 7999, 985)

In [16]:
y_train.value_counts(), y_test.value_counts()

(0    5111
 1    2730
 2     158
 Name: fire, dtype: int64, 0    594
 1    359
 2     32
 Name: fire, dtype: int64)

In [17]:
## SVM with polynomial kernel 


from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import LinearSVC

polynomial_svm_clf = Pipeline([
        ("poly_features", PolynomialFeatures(degree=3)),
        ("svm_clf", LinearSVC(C=10, loss="hinge", random_state=42, max_iter=3000))
    ])

polynomial_svm_clf.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Pipeline(memory=None,
         steps=[('poly_features',
                 PolynomialFeatures(degree=3, include_bias=True,
                                    interaction_only=False, order='C')),
                ('svm_clf',
                 LinearSVC(C=10, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='hinge', max_iter=3000, multi_class='ovr',
                           penalty='l2', random_state=42, tol=0.0001,
                           verbose=0))],
         verbose=False)

In [18]:
y_predictions=polynomial_svm_clf.predict(X_test)
tree_mse = mean_squared_error(y_test, y_predictions)
tree_rmse = np.sqrt(tree_mse)
print(tree_rmse)
confusion_matrix_valid = confusion_matrix(y_test, y_predictions)
print(confusion_matrix_valid)

0.8110906363067992
[[380 184  30]
 [239 105  15]
 [ 20  10   2]]

In [19]:
polynomial_svm_clf.score(X_test,y_test)

0.49441624365482234

In [20]:
y_test.to_numpy(),y_predictions, y_test.value_counts()

df_new[df_new['year'] > 2]

       quarter  year  alarmes_incendies_count  ...  caserne_count  fire  distance
2            1     6                        0  ...              0     0        31
26           1     6                        1  ...              0     0        31
39           1     6                        0  ...              0     0        30
59           1     6                        0  ...              0     0        29
101          1     6                        1  ...              0     0        30
...        ...   ...                      ...  ...            ...   ...       ...
11730        4     3                        2  ...              0     0        20
11752        4     3                        1  ...              0     0        21
11776        4     3                        1  ...              0     0        21
11811        4     3                        0  ...              1     0        22
11835        4     3                        1  ...              0     0        22

[7999 rows x 25 columns]

In [21]:

from sklearn.tree import DecisionTreeClassifier



tree_clf = DecisionTreeClassifier(max_depth=300, random_state=42,max_features=6)
tree_clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=300, max_features=6, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=42, splitter='best')

In [22]:
y_predictions=tree_clf.predict(X_test)
tree_mse = mean_squared_error(y_test, y_predictions)
tree_rmse = np.sqrt(tree_mse)
print(tree_rmse)
confusion_matrix_valid = confusion_matrix(y_test, y_predictions)
print(confusion_matrix_valid)

0.7798216638508881
[[371 203  20]
 [222 133   4]
 [ 20  10   2]]